<div class="row">

    <div class="col-8 m-auto">
  
      <form [formGroup]="formGroupClient">
      <div class="mb-3">
        <div class="display-6 text-center">
          Cadastro de Alunos
        </div>
        <label for="name" class="form-label">Nome</label>
        <input type="text" formControlName="name" class="form-control" id="name" placeholder="Nome">
  
        <div *ngIf="submitted && name.invalid">
            <small class="text-danger">Nome Inválido!</small>
        </div>
  
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" formControlName="email" class="form-control" id="email" placeholder="Email">
  
        <div *ngIf="submitted && email.invalid">
          <small class="text-danger">Email Inválido!</small>
      </div>
  
      </div>

      <div class="mb-3">
        <label for="course" class="form-label">Curso</label>
        <input type="text" formControlName="course" class="form-control" id="course" placeholder="Curso">
  
        <div *ngIf="submitted && course.invalid">
          <small class="text-danger">Curso Inválido!</small>
      </div>
  
      </div>

      <div class="mb-3">
        <label for="telefone" class="form-label">Telefone</label>
        <input type="tel" formControlName="telefone" class="form-control" id="telefone" placeholder="Email">
  
        <div *ngIf="submitted && telefone.invalid">
          <small class="text-danger">Telefone Inválido!</small>
      </div>

      <div class="mb-3">
        <label for="date" class="form-label">Data de nascimento</label>
        <input type="date" formControlName="date" class="form-control" id="email" placeholder="Data de nascimento">
  
        <div *ngIf="submitted && date.invalid">
          <small class="text-danger">Data de nascimento Inválida!</small>
      </div>
  
      </div>
  
      </div>

      <div class="mb-3 d-flex justify-content-end">
        <button type="button" class="btn btn-dark" (click)="save()">Salvar</button>
        <button type="button" class="btn btn-dark" (click)="cancel()">Cancelar</button>
      </div>
    </form>
  
    </div>
  </div>